body {
  -webkit-user-select: none;
  font-family: "Montserrat", sans-serif;
  color: #002c55;
  background: #0066CC;
  background-image: linear-gradient(180deg, #0099CC 0%, #0066CC 20%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none; /* makes text non-selectable*/
}

a {
    text-decoration: none;
    color: #002c55;
}

a:hover {
    text-decoration: none;
    color: #002c55;
}

/* Heading */

header {
  width: 100%;
}

#name {
  float: left;
  padding-bottom: 10px;
  margin-top: 30px;
  font-size: 110px;
  font-weight: 500;
  color: #004e64;
}

/* Main container */

.link {
  text-align: center;
  position: relative;
  float: left;
  font-size: 20px;
  padding-left: 8%;
  padding-right: 10%;
  margin-bottom: 30px;
}

.link:hover {
  transition: .5s;
  background: rgba(0, 0, 0, .1);
}

.text {
    font-size: 22px;
}

.screenshot {
  float: left;
    width: 60%;
    padding-right: 20px;
    margin-bottom: 40px;
    z-index: 20;
}

.page-content {
  margin-top: 40px;
  padding: 50px;
  background: rgba(0, 0, 0, .15);
  border-radius: 10px;
}

.gitLink{
  position: relative;
}

.project-title {
  position: relative;
  padding-right: 20px;
  font-size: 40px;
  font-weight: 400;
}

.project-description{
  position: relative;
  z-index: -10;
}

.project {
  padding-bottom: 20px;
}

.inputField {
  padding: 20px;
}

textarea {
  width: 80%;
  border: none;
  background: rgba(0, 0, 0, .3);
  border-radius: 8px;
}

input {
  width: 80%;
  border: none;
  background: rgba(0, 0, 0, .3);
  border-radius: 8px;
}

#submitBtn {
  margin-left: 15px;
  padding: 8px;
  border: none;
  background: rgba(0, 0, 0, .3);
  border-radius: 8px;
}

#resumeImg {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */


#link-tray {
  position: relative;
  margin-top: 80px;
  top: -40px;
  margin-left: 45%;
}

.icon {
    position: relative;
    float: left;
  width: 50px;
  padding: 5px;
  opacity: 0.7;
  z-index: 10;
}

#copyright {
  position: relative;
  right: 12%;
  top: 20px;
}